<% content_for :title, "The Best Source for Knowledge and Data Visualization" %>

<script type="text/javascript">

$(document).ready(function(){
  <% images = ['hongkong_bg.jpg', 'miami_bg.jpg', 'nyc_bg.jpg', 'paris_bg.jpg', 'taipei_bg.jpg', 'tokyo_bg.jpg', 'toronto_bg.jpg'] %>
  $('#landing').css("background", "url( backgrounds/<%=images[Random.rand(images.length)]%>) center center");
	$('#landing').css("background-size", "cover");
});

</script>
<%= javascript_include_tag "home", :type => "text/javascript" %>

<!-- Welcome section -->
<title>Imagemoji - Add images, leave comments, have fun!</title>
<div id="landing">
	<div id="landing-container">
		<div class="logo-name-container">
			<a href="/"><%= image_tag "emoji-icon.png", id: "logo" %></a>
			<h1 id="welcome">Welcome to Imagemoji</h1>
		</div>

		<div id="summary-container">
			<p class="summary"> Imagemoji allows you to upload and share any type jpeg or gif and visualize comments  or emojis in real time!</p>

			<%= link_to 'Browse', categories_path, class: "enter-button" %>
		</div>
	</div>

	<div id="key-points-container">
		<h3 class="key-points-header">With Imagemoji, you can...</h3>
		<div class="key-points-section">
			<h4 class="key-points-header">Submit</h4>
			<%= image_tag "inquire.png", class: "key-points-logo" %>
			<p class="key-points-summary">
				Add & share images, and collect feedback from viewers all around the globe.
			</p>
		</div>
		<div class="key-points-section">
			<h4 class="key-points-header">Discover</h4>
			<%= image_tag "discover.png", class: "key-points-logo" %>
			<p class="key-points-summary">
        			Discover and comment on the best content by adding new tags and upvoting on existing ones.
			</p>
		</div>
		<div class="key-points-section">
			<h4 class="key-points-header">Visualize</h4>
			<%= image_tag "create.png", class: "key-points-logo" %>
			<p class="key-points-summary">
        			Visualize thousands of comments in just a few seconds, without the hassle of other sites.
			</p>
		</div>
	</div>
</div>
